@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

* {
  box-sizing: border-box;
}

html {
  --base-color: white;
  --second-base-color: black;
  --primary-color: #efeefc;
  --button-color: #6d28d9;
  --border-color: #c7acef;
  --link-color: #8856de;
  --border-radius: 12px;
}

.navbar-login {
  color: black;
  /* width: 100%; */
}

.navbar-login a{
  text-decoration: none;
  color: black;
}

.ai-or-not {
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  /* margin: 10px 0; */
  /* font-family: "Montserrat"; */
  font-family: "Roboto", sans-serif;
}

.signInPage {
  /* margin-top: 6.563rem; */
  width: 100vw;
  /* height: calc(100vh - 6.563rem - 50px  ); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInContainer {
  background-color: var(--primary-color);
  max-width: 400px;
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius);
  font-family: "Open Sans", sans-serif;
}

.signInHead {
  text-align: center;
  font-size: large;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.input-div label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.input-div input {
  padding: 0.8rem;
  border: 2px solid white;
  border-radius: var(--border-radius);
  /* border: none; */
  outline: none;
}

.input-div input:focus {
  border-color: var(--border-color);
}

.input-div input::placeholder {
  color: black;
  font-weight: 600;
}

.getOtpButton {
  font-size: large;
  font-weight: bold;
  background-color: var(--button-color);
  color: var(--base-color);
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--border-radius);
  letter-spacing: 2px;
  cursor: pointer;
}

.getOtpButton:hover {
  cursor: pointer;
}

.or-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-weight: bold;
  color: var(--second-base-color);
}

.google-signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: var(--base-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: var(--second-base-color);
  transition: all 0.3s ease-in-out;
}

.google-signin-btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.google-logo {
  width: 20px;
  margin-right: 10px;
}

.signup-option {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #444;
}

.signup-option a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.signup-option a:hover {
  color: var(--button-color); /* Change to a suitable hover color */
  text-decoration: underline;
}

.rotating-svg {
  position: absolute;
  width: 40vw;
  max-width: 500px;
  height: auto;
}

.firstCircle {
  top: 120px;
  left: -50px;
  transform: translateX(-50%);
}

.secondCircle {
  top: 120px;
  right: 50px;
  transform: translateX(60%);
}

.circle_div {
  padding: 5%;
  width: 150px;
}
