body {
  margin: 0;
}

/*Loading Font   */
@font-face {
  font-family: "Origin Tech Demo";
  src: url("/src/assets/origin-tech-demo/OriginTech-personal-use.eot");
  src: url("/src/assets/origin-tech-demo/OriginTech personal use.woff")
      format("woff"),
    url("/src/assets/origin-tech-demo/OriginTech personal use.otf")
      format("opentype"),
    url("/src/assets/origin-tech-demo/OriginTech personal use.svg")
      format("svg");
}

/* adding css to navbar login */
.navbar-login {
  margin-top: 0;
  background-color: #efeefc;
  height: 6.563rem;
  position: relative;
  
}

/* Adding css to font inside of navbar */
.navbar-login > span {
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
  height: 6.563rem;
  font-family: Origin Tech Demo;
  font-weight: 500;
  font-size: 2.732rem;
  line-height: 2.549rem;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.mainNavBar{
  margin-inline: auto;
}
.navbar-login a{
  text-decoration: none;
  color: black;
  width: 400px;
}
.navbar-login img{
 width:400px;
}

.title-signin {
  margin-top: 3.063rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  line-height: 3.25rem;
}

.sign-in-box {
  position: relative;

  margin: auto;
  background-color: #efeefc;
  width: 27.5rem;
  height: 34.313rem;
  justify-content: center;
  align-items: center;
}
